[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/amar/Desktop/Counter-Strike Global Offensive.desktop]
row=2
col=0

[78A02407A023CB08]
row=3
col=0

[Rubbish Bin]
row=1
col=0

[/home/amar]
row=0
col=0

